<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Lista de Vendedores</h1>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr data-hook="admin_products_index_headers">
          <th>Email</th>
          <th data-hook="admin_products_index_header_actions" class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @vendedores.each do |form| %>
          <tr data-hook="admin_products_index_rows" class="<%= cycle('odd', 'even') %>">
            <td><%= link_to form.email, admin_salesman_show_path(id: form.id)%></td>
            <td class="actions actions-2 text-right" data-hook="admin_products_index_row_actions">
             <%= link_to '', admin_salesman_form_path(id: form.id),  :no_text => true, class: "edit fa fa-edit icon_link with-tip no-text"%>
          </tr>
            </td>
        <% end %>
      </tbody>
    </table>